{% extends 'core/base.html' %}
{% block contenido %}
{% load static %}
<div class="row">
    <div class=" col-12 col-md-6 offset-md-3">
        <div class="jumbotron">
            <div class="card-body">
                <h2>Nuevo Proveedor</h2>
                <hr>

                <form action="" method="post" enctype="multipart/form-data">

                    {% csrf_token %}
                    {{ form }}

                    <div class="d-flex justify-content-center">

                        <input type="submit" value="Guardar" class="btn btn-primary">
                        
                        
                        <a href="{% url 'listar-proveedor' %}" class="btn btn-secondary">Cancelar</a>
                        
                    </div>

                </form>
                {{mensaje}}
            </div>
        </div>

    </div>
</div>

{% endblock %}